### 지도학습

In [1]:
#### 분류 - 다항분류

In [2]:
import pandas as pd

In [3]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

##### 전처리

In [4]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df_TFD_extract = df_TFD[['Survived', 'Pclass', 'Age', 'Fare']]
df_TFD_extract.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [6]:
df_TFD_extract_preprocess = df_TFD_extract.dropna()
df_TFD_extract_preprocess[:2]

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

In [7]:
df_TFD_extract_preprocess['Pclass'].value_counts()

3    355
1    186
2    173
Name: Pclass, dtype: int64

#### 정형화

In [8]:
target_train = df_TFD_extract_preprocess['Pclass']  # 목표변수
features_train = df_TFD_extract_preprocess.drop(columns=['Pclass']) # 설명변수
target_train.shape, features_train.shape

((714,), (714, 3))

#### 모델 학습

In [9]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(features_train, target_train)

DecisionTreeClassifier()

In [13]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [15]:
features_train.columns.to_list()

['Survived', 'Age', 'Fare']

In [21]:
%matplotlib tk

In [28]:
# plot_tree(model, feature_names=features_train.columns.to_list())  # 수치와 함께 그래프 표시
plt.figure(figsize=(60,40))
plot_tree(model, feature_names=features_train.columns.to_list(), filled=True)
plt.show()

#### 평가

In [10]:
target_predict = model.predict(features_train)
target_predict.shape

(714,)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(target_train, target_predict)

1.0

In [29]:
model.predict(features_train[10:12])

array([1, 3], dtype=int64)

In [30]:
model.predict_proba(features_train[10:12])

array([[1., 0., 0.],
       [0., 0., 1.]])