## OneHotEncoder

In [1]:
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = {'Feature1': ['A', 'B', 'A', 'C'],
        'Feature2': ['High', 'Low', 'Medium', 'Low']}

In [3]:
import pandas as pd

In [5]:
df_data = pd.DataFrame(data)
df_data

  Feature1 Feature2
0        A     High
1        B      Low
2        A   Medium
3        C      Low

In [6]:
df_data.index, df_data.columns, df_data.values

(RangeIndex(start=0, stop=4, step=1),
 Index(['Feature1', 'Feature2'], dtype='object'),
 array([['A', 'High'],
        ['B', 'Low'],
        ['A', 'Medium'],
        ['C', 'Low']], dtype=object))

In [7]:
type(df_data.values)

numpy.ndarray

In [8]:
oneHotEncoder = OneHotEncoder()

In [10]:
oneHotEncoder.fit(df_data[['Feature1']])

OneHotEncoder()

In [25]:
oneHotEncoder.categories_

[array(['A', 'B', 'C'], dtype=object)]

In [14]:
encoder_array = oneHotEncoder.transform(df_data[['Feature1']]).toarray()

In [35]:
# oneHotEncoder.get_feature_names(['Feature1'])

In [37]:
# df_encoder = pd.DataFrame(encoder_array, columns=['A', 'B', 'C'])
df_encoder = pd.DataFrame(encoder_array, columns=oneHotEncoder.get_feature_names(['Feature1']))
df_encoder

C:\Users\05-16\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   Feature1_A  Feature1_B  Feature1_C
0         1.0         0.0         0.0
1         0.0         1.0         0.0
2         1.0         0.0         0.0
3         0.0         0.0         1.0

In [29]:
pd.concat([df_data,df_encoder], axis=1)

  Feature1 Feature2  (A,)  (B,)  (C,)
0        A     High   1.0   0.0   0.0
1        B      Low   0.0   1.0   0.0
2        A   Medium   1.0   0.0   0.0
3        C      Low   0.0   0.0   1.0